[submodule "content/notes"]
	path = content/notes
	url = https://github.com/LoweNiyan/myMathNotes.git
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
