{{ define "content" }}
  {{ $readmePage := .Site.GetPage "notes/README.md" }}
  {{ if $readmePage }}
    <section class="container post">
      <article>
        <header>
          <div class="post-header">
            <h1 class="post-title">{{ $readmePage.Title }}</h1>
          </div>
        </header>

        <div class="post-content">
          {{ $readmePage.Content }}
        </div>
      </article>
    </section>
  {{ else }}
    <p style="color: red;"><b>Homepage Error:</b> README.md file not found at path "notes/README.md".</p>
  {{ end }}
{{ end }}